.optionsDiv {
  width: 360px;
  padding: 20px;
  margin: auto;
  background: linear-gradient(to bottom right, white, lightgray);
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  border: white solid;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  position: relative;
}

label {
  float: left;
  width: 120px;
  margin-top: 125px;
}

#optionInputs {
  float: left;
  margin: auto;
  width: 120px;
  height: 150px;
  display: inline-block;
  text-align: center;
}

input {
  width: 80px;
}

button {
  margin: 10px;
}
